version: '3'

services:
  db_legal_gazette_api:
    image: public.ecr.aws/docker/library/postgres:16
    container_name: db_legal_gazette
    environment:
      - POSTGRES_DB=dev_db_legal_gazette
      - POSTGRES_USER=dev_db
      - POSTGRES_PASSWORD=dev_db
      - POSTGRES_INITDB_ARGS=--locale-provider=icu --icu-locale=is-IS
    ports:
      - '5434:5432'
  redis:
    container_name: cache
    image: redis
    ports:
      - 6379:6379
    volumes:
      - redis:/data

volumes:
  redis:
    driver: local
