name: Monorepo pipeline - quality

on:
  pull_request:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - main

concurrency:
  # See https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-using-a-fallback-value
  group: pullrequest-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 鮫勇 Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: 游닌 Monorepo install
        uses: ./.github/actions/yarn-install

      - uses: nrwl/nx-set-shas@v4

      - name: Linting
        run: yarn run nx affected -t lint

  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 鮫勇 Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: 游닌 Monorepo install
        uses: ./.github/actions/yarn-install

      - name: Check formatting
        run: yarn nx format:write --all

  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 鮫勇 Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: 游닌 Monorepo install
        uses: ./.github/actions/yarn-install
      - uses: nrwl/nx-set-shas@v4

      - name: Run tests
        run: yarn run nx affected -t test

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 鮫勇 Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: 游닌 Monorepo install
        uses: ./.github/actions/yarn-install
  
      - name: Codegen application
        run: yarn nx run ${{matrix.project}}:codegen

      - name: Build application
        run: yarn nx run ${{matrix.project}}:build:production
